body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM */
.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.form {
  width: 400px;
  padding: 50px;
}

.p-20 {
  padding: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.error {
  padding: 10px;
  background-color: #ffe9e9;
  border: 1px solid darkred;
  color: darkred;
}

/* NAVIGATION */
nav {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding-right: 20px;
}

/* TOOLBAR */
.toolbar {
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}

.toolbar a {
  margin-right: 20px;
}

/* AUTHENTICATION */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
